<!-- component -->
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center mx-auto sm:py-12">
  <div class="">
    <div class="h-auto py-20 px-10 w-2/3 bg-indigo-500 flex flex-col space-y-5 mx-auto rounded-3xl shadow-xl hover:rotate-1 transition-transform">
    <h1 class=" font-medium text-white text-xl tracking-wide"><%= @curriculumvitae.name %></h1>
    <p class=" font-medium text-white text-xl tracking-wide"><%= @curriculumvitae.education %></p>
      <p class="font-normal tracking-wide text-xl text-white "><%= @curriculumvitae.description %></p>
      <div class="flex flex-col">
        <backquotes class="font-normal text-white text-sm tracking-wider"><%= @curriculumvitae.url %></backquotes>
      </div>
    </div>
  </div>
</div>
