<h1>作品列表</h1>
<%= link_to "新增插畫", new_illustration_path %>

<div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">商品列表</h2>
    </div>
    <div class="mt-6 grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-5 md:gap-y-0 lg:gap-x-8">
		<%= render 'list', illustrations: @illustrations %>
    </div>
  </div>
</div>

