<br>
<br>
<br>
<div class="container" style="height:500px;">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6">
      <h4><%= @illustration.title %><h4><br>
      <p><%= @illustration.content %></p><br>
      <p><%= @illustration.years %></p><br>
      <p><%= @illustration.label %></p><br>
    </div>
  </div>
  <br>
</div>