<p>You have new contact from <%= @contact.name %></p>
<br>
<table>
  <thead>
    <tr>
      <th>Contact</th>
      <th>Email</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @contact.name %></td>
      <td><%= @contact.email %></td>
      <td><%= @contact.content %></td>
    </tr>
  </tbody>
</table>
