<p>You have new contact from <%= @contact.name %></p>
<br>

<table>
  <thead>
    <tr>
      <td>Contact</td>
      <td>Email</td>
      <td>Contact</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @contact.name %></td>
      <td><%= @contact.email %></td>
      <td><%= @contact.content %></td>
    </tr>
  </tbody>
</table>
